<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Cards</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .card img {
      height: 200px;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card">
          <a href="https://script.google.com/macros/s/AKfycbx5SP1VbOEXNKHJcnkc75zSDpolpUVOE9ib4BQnICEkxeuacWP-9mJYzjAFJHpj8A0T/exec" class="stretched-link" target="_blank">
            <img src="../../../public/images/catatsatu.png" style="height: 200px; width: 200px;" class="card-img-top" alt="Catat Pelayanan">
          </a>
          <div class="card-body">
            <h5 class="card-title">Catat Pelayanan</h5>
            <p class="card-text">Mencatat pelayanan posyandu</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card">
          <a href="admin-laporan.html" class="stretched-link">
            <img src="../../../public/images/catat.png" style="height: 200px; width: 200px;" class="card-img-top" alt="Laporan Pelayanan">
          </a>
          <div class="card-body">
            <h5 class="card-title">Lapor Kegiatan</h5>
            <p class="card-text">Buat laporan kegiatan dan absensi anggota Posyandu</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card">
          <a href="pengumuman-page-admin.html" class="stretched-link">
            <img src="../../../public/images/pengumumanlogo.png" style="height: 200px; width: 200px;" class="card-img-top" alt="Buat Pengumuman">
          </a>
          <div class="card-body">
            <h5 class="card-title">Buat Pengumuman</h5>
            <p class="card-text">Buat pengumuman untuk peserta posyandu</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card">
          <a href="tambah-admin.html" class="stretched-link">
            <img src="../../../public/images/adminakun.png" style="height: 200px; width: 200px;" class="card-img-top" alt="Tambah Admin">
          </a>
          <div class="card-body">
            <h5 class="card-title">Tambah Admin</h5>
            <p class="card-text">Tambahkan akses admin aplikasi Posyandu</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
